.home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.floating-save-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--text-color);
  border: none;
  color: var(--background-color);

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
