.list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;

  flex: 1;

  padding: 8px;
  min-width: 160px;
  /*max-width: 180px;*/

  &:hover {
    cursor: pointer;
    .list-item-name {
      text-decoration: underline;
    }
  }

  .list-item-image {
    width: calc(100% - 24px);
    margin: 0 auto;
    max-height: 140px;
    max-width: 180px;
  }

  .list-item-name {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 500;
  }

  .list-item-category {
    font-size: 12px;
    font-weight: 500;
    color: var(--grayed-text-color2);
  }

  .list-item-price {
    font-size: 20px;
    font-weight: 700;
  }

  @media only screen and (max-width: 600px) {
    min-width: 100px;
  }
}
